/* BASE RULES */
body {
  margin: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  background-color: #1c1a19;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  padding: 12px;
  transition: background-color 0.5s;
}

button:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

button:active {
  color: #f4f1f0;
  border: none;
  background-color: #e05304;
}

button:disabled {
  color: #5b5957;
  border: none;
  background: #f4f1f0;
}

input {
  border: none;
  padding: 14px;
  border-bottom: 1px solid #dbd8d7;
}

input::placeholder {
  font-family: Inter, sans-serif;
  font-size: 15px;
}

textarea {
  font-family: Inter, sans-serif;
  font-size: 15px;
  color: #3c3a39;
  width: calc(100% - 24px);
  height: 114px;
  background-color: #fbf8f7;
  padding: 12px;
  border: none;
}

footer {
  border-top: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
  padding: 24px;
}

/* LAYOUT RULES */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.padding-section {
  padding: 120px 24px;
}

/* SECTIONS */

/* General */
.dark-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.light-section {
  background-color: #fff;
}

/* Header */
.header-bar {
  background-color: #3c3a39;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.header-title {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.nav-list {
  display: none;
}

.nav-link {
  transition: color 1s;
}

.nav-link:hover {
  color: #ff6b00;
}

/* Hero */
.hero-section {
  background-image: url(assets/hero-illustration.svg);
  background-repeat: no-repeat;
  background-position: right 120%;
  gap: 12px;
}

.section-title {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
}

.section-subtitle {
  color: #fff5e1;
  font-size: 24px;
}

.section-text {
  max-width: 100%;
  line-height: 24px;
}

/* Works */
.light-section-text {
  color: #172b4d;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 370px) {
  .section-text {
    margin: 0;
    max-width: 75vw;
  }
}

.social-media {
  justify-content: flex-start;
  max-width: 50vw;
  flex-wrap: wrap;
  gap: 10px;
}

#work-section {
  justify-content: center;
  justify-items: center;
  grid-gap: 24px;
}

#work-title {
  grid-column: 1 / span 1;
  font-size: 40px;
  color: #091e42;
  text-align: center;
}

.main-card {
  color: #091e42;
  grid-gap: 24px;
  margin-top: 56px;
  justify-items: center;
}

.main-card-text-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.main-card-img {
  max-width: 100%;
  align-self: center;
}

.main-card-title {
  font-family: 'Crete Round', serif;
  font-size: 32px;
}

.main-card-text {
  font-family: Inter, sans-serif;
}

.main-tag-container {
  flex-wrap: wrap;
  gap: 12px;
}

.main-card-tag {
  color: #091e42;
  border: 1px solid #8993a4;
  font-size: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
}

.card {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 84px;
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(assets/placeholder.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 274px;
}

.card-title {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  margin: 0 16px;
}

.card-text {
  font-family: Inter, sans-serif;
  margin: 0 16px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px 16px 16px;
}

.card-tag {
  font-size: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  margin: 12px 12px 0 0;
}

.card-button {
  width: 100%;
}

/* About */
#about-title {
  font-size: 72px;
}

#about-section {
  background-image: url(assets/about-illustration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  gap: 24px;
}

.divider {
  margin: 0 24px;
  border-top: 1px solid #fff;
  height: 0;
}

.dark-divider {
  min-width: 100%;
  border-top: 1px solid #212121;
}

.img-container {
  text-align: center;
}

/* Skills */
.skills-item {
  flex-direction: column;
  gap: 44px;
}

.skills-list {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-title {
  font-size: 32px;
}

#skills-section {
  grid-template-columns: 1fr;
  background-color: #1c1a19;
  grid-gap: 44px;
}

#languages::before {
  margin-right: 15px;
  content: url("assets/diamond.svg");
}

#frameworks::before {
  margin-right: 15px;
  content: url("assets/square.svg");
}

#skills::before {
  margin-right: 15px;
  content: url("assets/circle.svg");
}

/* Contact */
#contact-section {
  grid-gap: 24px;
}

.form-btn {
  max-width: 131px;
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  /* Header Section Media Queries */
  .header-bar {
    padding: 24px 140px;
  }

  .menu-button {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 15px;
    font-weight: bold;
  }

  /* Hero Section Media Queries */
  .hero-section {
    padding: 120px 140px 250px 140px;
    background-image: url(assets/hero-illustration-desk.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;
  }

  .hero-social-media {
    position: absolute;
    flex-direction: column;
    left: 36px;
    top: 250px;
    gap: 5px;
  }

  .section-subtitle {
    font-size: 32px;
  }

  .section-text {
    max-width: 50%;
    font-size: 20px;
    line-height: 32px;
  }

  /* About Section Media Queries */
  #work-section {
    padding: 120px 140px 130px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 24px;
  }

  .dark-divider {
    grid-column: 2 / span 2;
    height: 0;
  }

  .main-card {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    grid-template-columns: 6fr 4fr;
    min-width: 100%;
    align-content: center;
    margin-top: 90px;
  }

  .main-card-text-container {
    flex-direction: column;
    gap: 24px;
  }

  .main-card-img {
    max-width: 100%;
  }

  .main-card-title {
    margin-top: 0;
  }

  .main-card-tag {
    padding: 10px 12px;
  }

  .card-button {
    display: none;
  }

  .card:hover {
    border: 1px solid black;
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0) 84%), url(assets/placeholder.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card:hover > * {
    opacity: 0;
  }

  .card:hover .card-button {
    opacity: 1;
    display: block;
  }

  /* About Section Media Queries */
  #about-section {
    padding: 120px 140px 140px 140px;
    background-image: url(assets/about-illustration-desk.svg);
    background-repeat: no-repeat;
    background-position: right 50%;
    background-size: 50%;
  }

  .divider {
    margin: 0 140px;
    border-top: 1px solid #fff;
    height: 0;
  }

  /* Skills Section Media Queries */
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .list-title {
    font-size: 32px;
    text-align: left;
  }

  #skills-section {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    grid-gap: 150px;
    padding: 120px 140px;
  }

  /* Contact Section Media Queries */
  .light-section-text {
    margin: 0;
    text-align: left;
  }

  .form-btn {
    align-self: flex-start;
  }

  #contact-section {
    padding: 120px 140px;
    grid-template-columns: 1fr 2fr;
  }

  .contact-grid-item-1 {
    grid-column: 1 / span 1;
  }

  .contact-grid-item-2 {
    grid-column: 2 / span 1;
  }
}
